STRINGTABLE 
LANGUAGE LANG_ENGLISH,0
{
  LngBaseFrench+rsAboutVersion    "Version %s"
  LngBaseFrench+rsAboutTCP        "TCP/IP Daemon"
  LngBaseFrench+rsAboutDialup     "dial-up extension"

  LngBaseFrench+rsDRestInvReq     "Invalid contents of \"Required\" field.\n%s."
  LngBaseFrench+rsDRestInvFrb     "Invalid contents of \"Forbidden\" field.\n%s."
  LngBaseFrench+rsDupGrid         "|Node|Overrides"

  LngBaseFrench+rsExtExt          "|Mask list|String to execute"
  LngBaseFrench+rsExtDrs          "|Enter|Door and parameters"
  LngBaseFrench+rsExtCrn          "|Cron|String to execute"

  LngBaseFrench+rsAdrInAdr        "FTN Address"
  LngBaseFrench+rsAdrInAdrLst     "FTN Address list"
  LngBaseFrench+rsAdrInNoValidAdr "No any valid FTN addresses"
  LngBaseFrench+rsAdrInNoMulti    "No multiple FTN addresses are accepted in \"%s\""

  LngBaseFrench+rsPswGrid         "|Nodes|Password"
  LngBaseFrench+rsPswEmptyAdr     "Empty FTN address, line %d"
  LngBaseFrench+rsPswEmptyPwd     "Empty password, line %d"

  LngBaseFrench+rsPswInvAdrLst    "Invalid FTN address list \"%s\", line %d"
  LngBaseFrench+rsPswDup          "Address %s at line %d is already declared at line %d. You can specify multiple addresses per password in a single line."
  LngBaseFrench+rsPerPollDup	   "Address %s at line %d is already declared at line %d. You can specify multiple cron periods per address list. Use semicolon character as a cron period delimiter"
  LngBaseFrench+rsRecsOvrDup	   "Address %s at line %d is already declared at line %d. You can specify multiple overrides per addresses in a single line"

  LngBaseFrench+rsStatGrid        "Station name|Address list|Sysop name|Location|Number|Flags"
  LngBaseFrench+rsStatAKA         "|Remote FTN addresses|Local FTN addresses"

  LngBaseFrench+rsFreqDirs        "|Path|Password"
  LngBaseFrench+rsFreqAls         "|Alias|Path|Password"

  LngBaseFrench+rsFreqEGrid       "|File|Password"     

  LngBaseFrench+rsIPInR           "|raw (ifcico)|Telnet|BinkP"
  LngBaseFrench+rsIPInC           "Protocol|Ports"
  LngBaseFrench+rsIPOvr           "|Node|Overrides"
  LngBaseFrench+rsIPTpl           "Station name|Address list|Sysop name|Location|IP address|Flags"
  LngBaseFrench+rsIPInvC          "Invalid contents of \"%s\" field.\n\n%s."
  LngBaseFrench+rsIPRestart       "You need to restart TCP/IP daemon to apply changes made in General tab."
  LngBaseFrench+rsIPAKA           "|Remote FTN addresses|Local FTN addresses"
  LngBaseFrench+rsIPDNS           "|Mask list|Root domain"

  LngBaseFrench+rsKeyIComplete    "Registration complete"
  LngBaseFrench+rsKeyIMismatch    "Password does not match the key specified"

  LngBaseFrench+rsMMNewCfgItems   "The following new configuration items appeared in %s version %s:\n\n%s\n\n"\
                                   "Do you wish to back up the original configuration file?"
  LngBaseFrench+rsMMCfgUpd        "Configuration Updated"
  LngBaseFrench+rsMMCalling       "Calling %s"
  LngBaseFrench+rsMMAnswering     "Answering call"
  LngBaseFrench+rsMMErrInitMdm    "Error initialising modem"
  LngBaseFrench+rsMMInit          "Initialising"
  LngBaseFrench+rsMMngOut         "Negotiating %s"
  LngBaseFrench+rsMMngIn          "Negotiating caller"
  LngBaseFrench+rsMMOutChk        "Checking outbound"
  LngBaseFrench+rsMMWaitDial      "Waiting for dial %s"
  LngBaseFrench+rsMMIdle          "Idle"
  LngBaseFrench+rsMMTabPolls      "Polls"
  LngBaseFrench+rsMMTabOutbound   "Outbound"
  LngBaseFrench+rsMMTabDaemon     "Daemon"
  LngBaseFrench+rsMMbsInit        "- init -"
  LngBaseFrench+rsMMbsDummy       ""
  LngBaseFrench+rsMMbsEnd         "- end -"
  LngBaseFrench+rsMMbsIdle        "- idle -"
  LngBaseFrench+rsMMbsWait        "- wait -"
  LngBaseFrench+rsMMptAuto        "Outb"
  LngBaseFrench+rsMMptManual      "Manual" 
  LngBaseFrench+rsMMptCron        "Cron" 
  LngBaseFrench+rsMMptNone        "none"
  LngBaseFrench+rsMMptExtApp      "ExtApp"
  LngBaseFrench+rsMMptDaemon      "Daemon"
  LngBaseFrench+rsMMpsIdle        "idle"
  LngBaseFrench+rsMMpsExtrnl      "extrnl"
  LngBaseFrench+rsMMpsDialling    "dialling"
  LngBaseFrench+rsMMpsRinging     "ringing"
  LngBaseFrench+rsMMpsConnect     "connect"
  LngBaseFrench+rsMMpsHSh         "handshak"
  LngBaseFrench+rsMMpsEMSI        "EMSI"
  LngBaseFrench+rsMMpsWZ          "WaZoo"
  LngBaseFrench+rsMMpsUnk         "???"
  LngBaseFrench+rsMMwcPollMgr     "Poll Manager"
  LngBaseFrench+rsMMwcOutMgr	   "Outbound Manager"
  LngBaseFrench+rsMMwcDaemon      "TCP/IP Daemon"
  LngBaseFrench+rsMMwcMain        "Main"
  LngBaseFrench+rsMMwcMirror      "Mirror #%d"
  LngBaseFrench+rsMMwcArgus       "Argus [%s] - %s"
  LngBaseFrench+rsMMTitlesGrid    "Connect|Station|Address|Sysop|Location|Number|Flags|Mailer"
  LngBaseFrench+rsMMAlrAct        "Already active"
  LngBaseFrench+rsMMCantOpenPort  "Can't open communication port %s"
  LngBaseFrench+rsMMUnlistedNode  "Node %s is not listed or has unpublished number"
  LngBaseFrench+rsMMpollNodes     "Poll nodes"
  LngBaseFrench+rsMMeditFReq      "Edit request for node"
  LngBaseFrench+rsMMcloseDaemon   "This will shutdown TCP/IP daemon"
  LngBaseFrench+rsMMokCompileNdl  "OK to compile the nodelist?"
  LngBaseFrench+rsMMExtApp        "External Application"
  LngBaseFrench+rsMMRingN         "Ring %s"
  LngBaseFrench+rsMMCDBP          "The poll is owned by %s"
  LngBaseFrench+rsMMpiNoData      "no data"
  LngBaseFrench+rsMMpiRA          "restriction applied: %s"
  LngBaseFrench+rsMMpiNWT         "not a work time"
  LngBaseFrench+rsMMpiOK          "OK"
  LngBaseFrench+rsMMobl           "Owned by local [%s]"
  LngBaseFrench+rsMMFaxRcv        "Negotiating Fax"
  LngBaseFrench+rsMMFaxRcvPg      "Receiving Fax page #%s"
  LngBaseFrench+rsMMwaitsp        "Waiting for %s to release (%d)"
  LngBaseFrench+rs_S              "%s"
  LngBaseFrench+rsMMBackUpCfgC	   "Back Up Argus Configuration"
  LngBaseFrench+rsMMBackUpCfgF	   "Backup files (*.bak)|*.bak|All Files (*.*)|*.*"
  LngBaseFrench+rsMMStationHdrA   "Station : %s"
  LngBaseFrench+rsMMStationHdrB   "Station : %s (%s)"
  LngBaseFrench+rsMMSysopHdr	   "Sysop   : %s from %s"
  LngBaseFrench+rsMMptpiOutb	   "This is a poll generated by outbound packed and will work accordingly to node on-line time"
  LngBaseFrench+rsMMptpiCron	   "This is a poll generated by cron timer and will work accordingly to node on-line time"
  LngBaseFrench+rsMMptpiManual	   "This is a manual poll created by system operator and will ignore node on-line time and status"
  LngBaseFrench+rsMMPollNfoC	   "Poll information - %s"	
  LngBaseFrench+rsMMOutNBusy      "%s (busy)"
  LngBaseFrench+rsMMOutNBrkLnk    "%s (broken link)"
  LngBaseFrench+rsMMOutNFlag	   "%s Flag"
  LngBaseFrench+rsMMOutNFreq	   "%s (request)"
  LngBaseFrench+rsMMOutNMailPkt   "%s (mail packet)"
  LngBaseFrench+rsMMOutIsBusy	   "%s is busy"
  LngBaseFrench+rsMMOutCurNode    "Current Node"
  LngBaseFrench+rsMMOutCurFile    "Current File"
  LngBaseFrench+rsMMOutAttTo      "Attach to %s"
  LngBaseFrench+rsMMOutPoll	   "Poll %s"
  LngBaseFrench+rsMMOutBrwsAt     "Browse Nodelist at %s"
  LngBaseFrench+rsMMOutEdFrq	   "Edit File Request for %s"
  LngBaseFrench+rsMMOutCrtFlg	   "Create Flag for %s"
  LngBaseFrench+rsMMOutDoNItems   "%s (%d items)"
  LngBaseFrench+rsMMOutOpemItem   "Open %s"
  LngBaseFrench+rsMMOutCurOfCur   "Current Item of Current Node"
  LngBaseFrench+rsMMOutSameFNm	   "All of Same File Name of Current Node"
  LngBaseFrench+rsMMOutSameFXt    "All of Same File Extension of Current Node"
  LngBaseFrench+rsMMOutSameSt     "All of Same Attach Status of Current Node"
  LngBaseFrench+rsMMOutEntrNode   "All Entries of Current Node"
  LngBaseFrench+rsMMOutEntire     "Entire Outbound"
  LngBaseFrench+rsMMOutOpCmfEnt   "Are you sure you wish to process the entire outbound (%d items)?"
  LngBaseFrench+rsMMOutNofN       "%s of %s"
  LngBaseFrench+rsMMOutNFofN	   "All %s Files of %s"
  LngBaseFrench+rsMMOutNAofN	   "All Files of %s"
  LngBaseFrench+rsMMOutOpRAdr     "Readdress %d items to"
  LngBaseFrench+rsMMMPEntrNew	   "Enter New Argus Master Password"
  LngBaseFrench+rsMMMPCreate      "Master Password is used to encrypt \"config.bin\" file using DES ECB and MD5 algorithms to prevent your Argus configuration data (especially encrypted links' keys) from being stolen.\n\n"\
				   "Once set, Master Password would be asked each time Argus starts up, and before changing encrypted links' keys.\n\n"\
				   "Are you really sure you wish to set up a Master Password?\n\n"
  LngBaseFrench+rsMMMPStUpCap     "Set Up Argus Master Password"
  LngBaseFrench+rsMMMPStUpOK  	   "Master Password has been set up"
  LngBaseFrench+rsMMMPCfmChange   "Argus requires relogging in in order to change the Master Password. Are you sure you wish to change the Master Password?"                 
  LngBaseFrench+rsMMMPChgCap	   "Change Argus Master Password"
  LngBaseFrench+rsMMMPChgOK	   "Master Password has been changed"
  LngBaseFrench+rsMMMPCfmRemove   "Argus requires relogging in in order to remove the Master Password. Are you sure you wish to remove the Master Password?"
  LngBaseFrench+rsMMMPRemoveCap   "Remove Argus Master Password"
  LngBaseFrench+rsMMMPRemovedOK   "Master Password has been removed"
  LngBaseFrench+rsMMAttachCap     "Attach Files"
  LngBaseFrench+rsMMAttachIA	   "Attach %d file(s) to"
  LngBaseFrench+rsMMAttachTA      "Attach files to address"
  LngBaseFrench+rsMMNodeUndNdl    "Node %s is not defined within the currently compiled nodelist"
  LngBaseFrench+rsMMBrsNdlAt	   "Browse The Nodelist At"
  LngBaseFrench+rsMMCrtFF	   "Create File Flag"

  LngBaseFrench+rsMMOwnByExt	   "Owned by external"

  LngBaseFrench+rsMdmCfgStd       "Ring|Connect|OK|Busy|No carrier|No dial|Error|Voice|Ringing"
  LngBaseFrench+rsMdmCfgCmd       "Init|Answer|Dial prefix|Dial suffix|Hangup|Info"
  LngBaseFrench+rsMdmCfgFlg       "|Flag list|Init/Prefix/Suffix"

  LngBaseFrench+rsNdlNoData       "Missing nodelist data"
  LngBaseFrench+rsNdlOKtoCancel   "OK to cancel compiling?"
  LngBaseFrench+rsNdlFinished     "Compiling Finished"
  LngBaseFrench+rsNdlSorting      "Sorting nodes"
  LngBaseFrench+rsNdlComp         "Compiling the net %d:%d"

  LngBaseFrench+rsNdlCNL          "|Nodelist file path"
  LngBaseFrench+rsNdlCPhn         "|'Phone prefix|Replace with"

  LngBaseFrench+rsPNgrid          "Secure inbound|Insecure inbound|Temporary inbound|Outbound|Log"
  LngBaseFrench+rsPNchd           "Change home directory"
  LngBaseFrench+rsCantUpdateReg   "Can't update registry"
  LngBaseFrench+rsPNHdc	   "Home directory changed - Argus will now exit"

  LngBaseFrench+rsRecsCAHD        "Can't access home directory %s"
  LngBaseFrench+rsRecsCSPC        "Can't save program configuration"
  LngBaseFrench+rsRecsDSB         "Dial-up Station Banner"
  LngBaseFrench+rsRecsDupEvt      "Dial-up Line Events"
  LngBaseFrench+rsRecsTCPSB       "TCP/IP Station Banner, TCP/IP Speed Assumption"
  LngBaseFrench+rsRecsTCPGR       "TCP/IP Group Restrictions"
  LngBaseFrench+rsRecsDupGR       "Dialup Group Restrictions"
  LngBaseFrench+rsRecsDefaultS    "Default station (%s)"
  LngBaseFrench+rsRecsDefaultP    "Default port (%s)"
  LngBaseFrench+rsRecsDefaultM    "Default modem (%s)"
  LngBaseFrench+rsRecsDefaultR    "Default restriction (%s)"
  LngBaseFrench+rsRecsCantAcc     "Can't access %s"
  LngBaseFrench+rsRecsEvt         "Permanent Events"
  LngBaseFrench+rsRecsCntWrtCfg   "Can't write configuration"
  LngBaseFrench+rsRecsRqdCndNS	   "Required condition not satisfied"
  LngBaseFrench+rsRecsFrbCndS	   "Forbidden condition satisfied"
  LngBaseFrench+rsRecsImpCfg 	   "Import Configuration"
  LngBaseFrench+rsRecsImpBinkD	   "BinkD configuration file (*.cfg)|*.cfg"
  LngBaseFrench+rsRecsImpBinkPls  "Bink/+ configuration file (*.cfg)|*.cfg"
  LngBaseFrench+rsRecsImpXen	   "Xenia configuration file (*.cfg)|*.cfg"
  LngBaseFrench+rsRecsImpTMail	   "T-Mail main configuration file (*.ctl)|*.ctl"
  LngBaseFrench+rsRecsImpFDoor	   "FrontDoor passwords file (password.fd)|password.fd*"
  LngBaseFrench+rsRecsImpMDoor    "MainDoor passwords file (links.md)|links.md*'"
  LngBaseFrench+rsAllFileMask 	   "All files (*.*)|*.*"
  LngBaseFrench+rsRecsNewCfgII	   "%d new items imported"
  LngBaseFrench+rsRecsInvCRL	   "Invalid cron record, line %d\n\n%s"
  LngBaseFrench+rsRecsInvCRro     "Invalid range ordering (%d-%d)"
  LngBaseFrench+rsRecsEcBPS 	   "%d BPS"
  LngBaseFrench+rsRecsEcCPS	   "%d CPS"
  LngBaseFrench+rsRecsEcPcMxBPS   "%d%% of Max.CPS"
  LngBaseFrench+rsRecsEcMinutes   "%d minutes"
  LngBaseFrench+rsRecsEcKB	   "%d KB"
  LngBaseFrench+rsRecsEcFiles	   "%d files"
  LngBaseFrench+rsRecsEdDis	   "Disabled"
  LngBaseFrench+rsRecsRepRReq 	   "Required conditions:"
  LngBaseFrench+rsRecsRepRFrb     "Forbidden conditions:"
  LngBaseFrench+rsRecsRepRNone	   "none"
  LngBaseFrench+rsRecsRepRAnd	   " and "
  LngBaseFrench+rsRecsRepROr	   " or"
  LngBaseFrench+rsRecsRepRA 	   "%sAddress %s"
  LngBaseFrench+rsRecsRepRAM 	   "%sAddress mask %s"
  LngBaseFrench+rsRecsRepRFlg     "%sFlag %s"
  LngBaseFrench+rsRecsRepRIFlg    "%sInverse flag %s"
  LngBaseFrench+rsRecsRepRPhnPfx  "%s'Phone prefix %s"
  LngBaseFrench+rsRecsRepRIpNum   "%sDotted-decimal IP address %s"
  LngBaseFrench+rsRecsRepRIpSym   "%sInternet host domain name %s"

  LngBaseFrench+rsDialRestCap     "Dial-Up Restriction Scheme - %s"

  LngBaseFrench+rsRecsRI0         "Unrecognized item - \"%s\""
  LngBaseFrench+rsRecsRI1         "'Phone number %s ocured in TCP/IP restriction"
  LngBaseFrench+rsRecsRI2         "Internet host domain name is not allowed in restriction schemes, but %s ocured"
  LngBaseFrench+rsRecsRI3         "Dotted-decimal IP address is not allowed in restriction schemes, but \"%s\" ocured"
  LngBaseFrench+rsRecsRI4         "\"%s\" recognized as a dotted-decimal IP address. Use at least one dash cracter within, eg \"%s\", to assume it is a 'phone prefix"

  LngBaseFrench+rsRecsEmptyAdr    "Empty FTN address, line %d"
  LngBaseFrench+rsRecsInvAdrLst   "Invalid FTN address list \"%s\", line %d"
  LngBaseFrench+rsRecsInvOvr      "Line %d: invalid override \"%s\""
  LngBaseFrench+rsRecsEmpOvr      "Line %d: empty override"
  LngBaseFrench+rsRecsLine        "Unnamed line"
  LngBaseFrench+rsRecsStation     "Unnamed station"
  LngBaseFrench+rsRecsModem       "Unnamed modem"
  LngBaseFrench+rsRecsRestriction "Unnamed restriction"

  LngBaseFrench+rsRecsIMrovr      "Node %s has override \"%s\".\n\nReplace it to \"%s\"?" 
  LngBaseFrench+rsRecsIMrpwd      "Node %s has password \"%s\".\n\nReplace it to \"%s\"?" 
  LngBaseFrench+rsRecsIMdPwd      "Import passwords from"
  LngBaseFrench+rsRecsIMdDN       "Import dial-up nodes from"
  LngBaseFrench+rsRecsIMdTN       "Import TCP/IP nodes from"
  LngBaseFrench+rsRecsFaxIn       "Fax Inbound Directory"
  LngBaseFrench+rsRecsFaxInt      "Internal Fax receiver"
  LngBaseFrench+rsRecsCronCmb	   "Cron string combination"
  LngBaseFrench+rsRecsAuxPwd      "Auxiliary file in Config/Passwords"
  LngBaseFrench+rsRecsAuxDupOvr   "Auxiliary file in Config/Dial-up/Nodes"
  LngBaseFrench+rsRecsAuxIpOvr    "Auxiliary file in Config/Daemon/Nodes"


  LngBaseFrench+rsNewLine         "New line" 
  LngBaseFrench+rsNewStation      "New station"
  LngBaseFrench+rsNewModem        "New modem"
  LngBaseFrench+rsNewRestriction  "New restriction"



  LngBaseFrench+rsSDidn           "Invalid directory name"

  LngBaseFrench+rsXfBlankFTN      "FTN address field is blank"
  LngBaseFrench+rsXfNoValid       "\"%s\" is not a valid FTN address"
  LngBaseFrench+rsXfNoValidAOM    "\"%s\" is not a valid FTN address or address mask"
  LngBaseFrench+rsXfFSC72U        "FSC-0072 worktime flag %s must be specified after \"U,\""
  LngBaseFrench+rsXfFO0           "Node flag (%s) specified before (or without) direct or indirect IP address"
  LngBaseFrench+rsXfFO1           "Node flag (%s) specified before (or without) direct or indirect 'phone number"
  LngBaseFrench+rsXfAPD0          "Got indirect IP address by nodelist record %s, but IP address %s is already specified"
  LngBaseFrench+rsXfAPD1          "Got indirect 'phone number by nodelist record %s, but 'phone number %s is already specified"
  LngBaseFrench+rsXfAPN0          "Got indirect IP address by nodelist record %s, but indirect IP address by nodelist record %s is already specified"
  LngBaseFrench+rsXfAPN1          "Got indirect 'phone number by nodelist record %s, but indirect 'phone number by nodelist record %s is already specified"
  LngBaseFrench+rsXfAPpdPn        "Got 'phone number %s, when another one (%s) specified"
  LngBaseFrench+rsXfAPpdIs        "Got Internet host domain name %s, but %s is already specified"
  LngBaseFrench+rsXfAPpdIn        "Got dotted-decimal IP address %s, but %s is already specified"
  LngBaseFrench+rsXfAPpnPn        "Got 'phone number %s, when indirect one by nodelist record %s is already specified"
  LngBaseFrench+rsXfAPpnIs        "Got Internet host domain name %s, when indirect one by nodelist record %s is already specified"
  LngBaseFrench+rsXfAPpnIn        "Got dotted-decimal IP address %s, when indirect one by nodelist record %s is already specified"
  LngBaseFrench+rsXfPNNA          "Got 'phone number %s, but it is not avaliable in IP nodes setup"
  LngBaseFrench+rsXfIPSNA         "Got Internet host domain name %s, but it is not avaliable in dial-up nodes setup"
  LngBaseFrench+rsXfIPNNA         "Got dotted-decimal IP address %s, but it is not avaliable in dial-up nodes setup"
  LngBaseFrench+rsXfIPNEG         "\"%s\" is not a valid 'phone number. Valid 'phone number must contain at least one dash character, e.g. \"%s\""
  LngBaseFrench+rsXfUnrecItem     "Unrecognized item %s"
  LngBaseFrench+rsXfCmsg0         "IP node does not have at least one of the following flags: %s"
  LngBaseFrench+rsXfCmsg1         "Dial-up node have at least one of the following IP flags: %s"

  LngBaseFrench+rsXfCrnINV        "\"%s\" is not a valid numeric value"
  LngBaseFrench+rsXfCrnINR        "Value \"%d\" is not in allowed range (%d-%d)"
  LngBaseFrench+rsXfCrnVE         "Cron value expected"
  LngBaseFrench+rsXfCrnUS         "Unexpected sequence \"%s\" encourented after end of the cron record"

  LngBaseFrench+rsXfTplChar       "%s (\"%s\") ends with \"%s\" character, but the usual ending character for the %s is \"%s\". This can cause further troubles. Continue anyway?"
  LngBaseFrench+rsXfTplEmpty      "%s is empty, but the usual ending character for it is \"%s\". This can cause further troubles. Continue anyway?"


  LngBaseFrench+rsCFagree         "&Agree" 
  LngBaseFrench+rsCFdisagree      "&Disagree" 
  LngBaseFrench+rsCFlicence       "Argus - Licence Agreement"
  LngBaseFrench+rsCFcredits       "Argus - Credits"

  LngBaseFrench+rsPPgrid          "|Cron|FTN Address List"
  LngBaseFrench+rsPPext           "|Address list|Options|Application"
  LngBaseFrench+rsLinkEvt         "Link the event to an object (mailer line or TCP/IP Daemon) to take effect"
  LngBaseFrench+rsPPline          "%s\n\nLine %d"

  LngBaseFrench+rsMdmCPPS	   "Post-Processor Settings"
  LngBaseFrench+rsMdmERS	   "External Receiver Settings"

  LngBaseFrench+rsOutbSameFBox    "%s (%s) and %s (%s) have the same filebox directory (%s)"
  LngBaseFrench+rsOutbNoMacroX    "No macro for %s."
  LngBaseFrench+rsOutbNoMacroS    "No macro for status."
  LngBaseFrench+rsOutbVlAm 	   "Variable-length address macro must be at the end of a directory name"
  LngBaseFrench+rsOutbVlSm	   "Variable-length status macro must be at the end of a directory name"

  LngBaseFrench+rsMgDelAllR	   "Delete all rows?"
  LngBaseFrench+rsTextFileMask    "Text files (*.txt)|*.txt|All Files (*.*)|*.*"
  LngBaseFrench+rsSgImport 	   "Import String Grid"
  LngBaseFrench+rsSgExport 	   "Export String Grid"
  LngBaseFrench+rsSgPopup	   "Edit cell|-|Add row|Insert row|Duplicate row|Delete row|Delete all rows|-|Export table|Import table|-|Help on grid"

  LngBaseFrench+rsNBNoNdl 	   "No compiled nodelist found"

  LngBaseFrench+rsEvEdPerm 	   "Permanent"
  LngBaseFrench+rsEvEdNdays       "%s days"
  LngBaseFrench+rsEvEdNhours      "%s hours"
  LngBaseFrench+rsEvEdNmins       "%s mins"
  LngBaseFrench+rsEvNotNum        "\"%s\" is not a valid numeric value"
  LngBaseFrench+rsEvNumRange      "Value \"%d\" is not in allowed range (%d-%d)"
  LngBaseFrench+rsEvNmBlnk	   "Name field is blank"

  LngBaseFrench+rsElChPwd 	   "Change password for encrypted link with %s"
  LngBaseFrench+rsElAlr	   "Node %s is already listed. Do you wish to change the encrypted password for %s?"
  LngBaseFrench+rsElNewL	   "New encrypted link"
  LngBaseFrench+rsElSetUp 	   "Set up password for encrypted link with %s"
  LngBaseFrench+rsElCfmRemove 	   "Are you sure to remove encryption from link with %s?"

  LngBaseFrench+rsPINCfm	   "The new password was not correctly confirmed. Please ensure that the confirmation password exactly matches the new password."
  LngBaseFrench+rsPITooShort	   "The new password is too short. Please ensure that the password is at least six characters long."
  LngBaseFrench+rsSPwCntLgOn      "Argus could not log you in because of password you entered is invalid. Letters in password must be typed using the correcct case. Make sure that the Caps Lock is not accidentally on, and the input locale is selected properly, then type your password again."
  LngBaseFrench+rsSPwLgnMsg	   "Logon Message"

  LngBaseFrench+rsOvEdIp	   "Edit TCP/IP overrides for %s"
  LngBaseFrench+rsOvEdDup   	   "Edit dial-up overrides for %s"
  LngBaseFrench+rsOvEdNotPhN      "%s is neither direct nor indirect 'phone number"
  LngBaseFrench+rsOvEdNotIP	   "%s is neither direct nor indirect IP address or host name"
  LngBaseFrench+rsOvEdNotFlag	   "%s is not a valid flag"
  LngBaseFrench+rsOvEdNotTime	   "%s is not a valid time record"
  LngBaseFrench+rsOvEdGIp	   " IP Address or Host Name"
  LngBaseFrench+rsOvEdGPhN	   " 'Phone number"
  LngBaseFrench+rsOvEdGFlags	   " Flags"
  LngBaseFrench+rsOvEdGOT	   " Online Time"

  LngBaseFrench+rsPcUeD	   "Unexpected data: %s"

  LngBaseFrench+rsFbNPAM	   "\"%s\" is not a pure address mask"
  LngBaseFrench+rsFbGT	           "|Node|Status|Path"
  LngBaseFrench+rsNWStElP	   "Set up password for encrypted link with %s"
  LngBaseFrench+rsNWChElP	   "Change password for encrypted link with %s"
  LngBaseFrench+rsNWCfmElP	   "Are you sure to remove encryption from link with %s?"
  LngBaseFrench+rsNWNN		   "New node"
  LngBaseFrench+rsNWNE		   "The node exists"
  LngBaseFrench+rsNWRBfD	   "Before deletion, you should remove the node from %s."
  LngBaseFrench+rsNWand	   " and "
  LngBaseFrench+rsNW_events	   "events"
  LngBaseFrench+rsNW_dialrest	   "dial-up restrictions"
  LngBaseFrench+rsNW_iprest	   "TCP/IP restrictions"
  LngBaseFrench+rsNW_dupaka	   "dial-up AKAs"
  LngBaseFrench+rsNW_ipaka	   "TCP/IP AKAs"
  LngBaseFrench+rsNW_enclink	   "encrypted link"
  LngBaseFrench+rsNW_basicpwd	   "basic password"
  LngBaseFrench+rsNW_dupovr	   "dial-up overrides"
  LngBaseFrench+rsNW_ipovr	   "TCP/IP overrides"
  LngBaseFrench+rsNW_infbox	   "incoming filebox"
  LngBaseFrench+rsNW_outfbox	   "outgoing filebox"
  LngBaseFrench+rsNW_ppoll	   "periodical poll"
  LngBaseFrench+rsNW_extpoll	   "external poll"
  LngBaseFrench+rsNW_postp	   "post-processor"
  LngBaseFrench+rsNWCfmDelNC	   "Delete node %s from config (this will remove %s for this node)?"
  LngBaseFrench+rsNWInvDupOvrI	   "Invalid dial-up override item %s\n\n%s"
  LngBaseFrench+rsNWInvIpOvrI	   "Invalid TCP/IP override item %s\n\n%s"

  LngBaseFrench+rsSWDoneCap	   "Done"
  LngBaseFrench+rsDCItems	   "%d item(s)"
  LngBaseFrench+rsFeListFR	   "List of files requested from %s"	
  LngBaseFrench+rsExplIpRS        "TCP/IP Daemon Restrictions Scheme"
  LngBaseFrench+rsDlPfxNV         "\"%s\" is not a valid 'phone prefix, line %d"
  LngBaseFrench+rsDlPfxNVnl       "\"%s\" is not a valid 'phone prefix"


  LngBaseFrenchEvt+eiStart         "-"

  LngBaseFrenchEvt+eiModemCmdInit    "Modem Command Init|Init String"
  LngBaseFrenchEvt+eiModemCmdAnswer  "Modem Command Answer|Answer String"
  LngBaseFrenchEvt+eiModemCmdPrefix  "Modem Command Prefix|Prefix String"
  LngBaseFrenchEvt+eiModemCmdSuffix  "Modem Command Suffix|Suffix String"
  LngBaseFrenchEvt+eiModemCmdHangup  "Modem Command Hangup|Hangup String"
  LngBaseFrenchEvt+eiModemCmdExit    "Modem Command Info|Info String"

  LngBaseFrenchEvt+eiRplStation      "Replace Station|Station"
  LngBaseFrenchEvt+eiRplModem        "Replace Modem|Modem"
  LngBaseFrenchEvt+eiRplRestriction  "Replace Restriction|Restriction Scheme"

  LngBaseFrenchEvt+eiRestrictRqd     "Restriction Required|Required"
  LngBaseFrenchEvt+eiRestrictFrb     "Restriction Forbidden|Forbidden"

  LngBaseFrenchEvt+eiAccFilesRqd     "Accept Files Required|Mask List"
  LngBaseFrenchEvt+eiAccFilesFrb     "Accept Files Forbidden|Mask List"

  LngBaseFrenchEvt+eiAccNodesRqd     "Accept Nodes Required|Nodes List"
  LngBaseFrenchEvt+eiAccNodesFrb     "Accept Nodes Forbidden|Nodes List"

  LngBaseFrenchEvt+eiAccLinkRqd      "Accept Link Required|Link Codes List"
  LngBaseFrenchEvt+eiAccLinkFrb      "Accept Link Forbidden|Link Codes List"

  LngBaseFrenchEvt+eiAccSpeedMin     "Accept Speed Min|Minimal Incoming Connection Speed"

  LngBaseFrenchEvt+eiAccNoFreqs      "Accept FReq Disable"
  LngBaseFrenchEvt+eiNumRings        "Rings|Number of Rings to Answer"

  LngBaseFrenchEvt+eiModemDisaReinit "Modem Disable Reinit"

  LngBaseFrenchEvt+eiAccProtected    "Accept Nodes Only Pwd-Prot"

  LngBaseFrenchEvt+eiFreqPwdDur      "Accept FReq Duration Pwd-Prot|minutes"
  LngBaseFrenchEvt+eiFreqPwdSz       "Accept FReq Size Pwd-Prot|KB of total size" 
  LngBaseFrenchEvt+eiFreqPwdCnt      "Accept FReq Count Pwd-Prot|files" 

  LngBaseFrenchEvt+eiFreqPubDur      "Accept FReq Duration Public|minutes"
  LngBaseFrenchEvt+eiFreqPubSz       "Accept FReq Size Public|KB of total size"
  LngBaseFrenchEvt+eiFreqPubCnt      "Accept FReq Count Public|files"

  LngBaseFrenchEvt+eiTrsFilesRqd     "Transmit Files Required|Mask List"
  LngBaseFrenchEvt+eiTrsFilesFrb     "Transmit Files Forbidden|Mask List"

  LngBaseFrenchEvt+eiAccNoNiagara    "Accept Niagara Disabled"
  LngBaseFrenchEvt+eiTrsNoNiagara    "Transmit Niagara Disabled"

  LngBaseFrenchEvt+eiAccNoHydra      "Accept Hydra Disabled"
  LngBaseFrenchEvt+eiTrsNoHydra      "Transmit Hydra Disabled"

  LngBaseFrenchEvt+eiAccNoZmodem     "Accept ZModem Disabled"
  LngBaseFrenchEvt+eiTrsNoZmodem     "Transmit ZModem Disabled"

  LngBaseFrenchEvt+eiAccNoFTS1       "Accept FTS-0001 Disabled"

  LngBaseFrenchEvt+eiAccNoIncoming   "Accept No Incoming"

  LngBaseFrenchEvt+eiAccNoYooHoo     "Accept YooHoo Disabled"
  LngBaseFrenchEvt+eiTrsNoYooHoo     "Transmit YooHoo Disabled"

  LngBaseFrenchEvt+eiAccNoEMSI       "Accept EMSI Disabled" 
  LngBaseFrenchEvt+eiTrsNoEMSI       "Transmit EMSI Disabled" 

  LngBaseFrenchEvt+eiDoor            "Door|Enter|Door and parameters"
  LngBaseFrenchEvt+eiPassword        "Password|Nodes|Password"

  LngBaseFrenchEvt+eiAccNoDummyZ     "Accept Dummy-Z Disabled"
  LngBaseFrenchEvt+eiTrsNoDummyZ     "Transmit Dummy-Z Disabled"

  LngBaseFrenchEvt+eiTrsSpeedMin     "Transmit Speed Min|Minimal Outgoing Connection Speed"
  LngBaseFrenchEvt+eiLogEMSI	      "Log EMSI Data"

  LngBaseFrenchEvt+eiAccCPSMin	      "Accept CPS Value Min|Minimal CPS on Incoming Connection"
  LngBaseFrenchEvt+eiTrsCPSMin	      "Transmit CPS Value Min|Minimal CPS on Outgoing Connection"

  LngBaseFrenchEvt+eiAccDurMax       "Accept Duration Max|Max. Duration of Incoming Session (minutes)"
  LngBaseFrenchEvt+eiTrsDurMax       "Transmit Duration Max|Max. Duration of Outgoing Session (minutes)"

  LngBaseFrenchEvt+eiAccBPSEfMin     "Accept BPS Efficiency Min|%  Min. BPS Efficiency on Incoming Conn."
  LngBaseFrenchEvt+eiTrsBPSEfMin     "Transmit BPS Efficiency Min|%  Min. BPS Efficiency on Outgoing Conn."

  LngBaseFrenchEvt+eiResponseFormat  "Response Log Format|Regular Expression|Format Specifier"
  LngBaseFrenchEvt+eiInputFormat     "Input Log Format|Regular Expression|Format Specifier"

  LngBaseFrenchEvt+eiInputWdReset    "Input Watchdog Reset|Regular Expression"
  LngBaseFrenchEvt+eiInputWdExtApp   "Input Watchdog Ext.App.|Regular Expression|External Application"  

  LngBaseFrenchEvt+eiModemErrExtApp  "Modem Error Ext.App.|External Application"

  LngBaseFrenchEvt+eiAccListed        "Accept Nodes Only Listed"

  LngBaseFrenchEvt+eiLoginScript     "Login Script|Modem Cmd|RegExp|Timeout|T-O Cmd"

  LngBaseFrenchEvt+eiAccNoCram       "Accept CRAM Disabled"
  LngBaseFrenchEvt+eiTrsNoCram       "Transmit CRAM Disabled|Nodes List"

  LngBaseFrenchEvt+eiStop            "!"

}

